<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white bg-personnalize flex flex-col justify-center text-gray-500 max-w-96 mx-4 md:p-6 p-4 text-left text-sm rounded-xl shadow-[0px_0px_10px_0px] shadow-black/10">
        <h2 class="text-2xl font-semibold mb-1 text-center text-gray-800">Prediction Crime</h2>
          <p class="text-center mb-6">
                      Don’t have an account?
          </p>
        <form (ngSubmit)="onSignIn()" [formGroup]="userForm">
            <input id="username"
                class="w-full bg-transparent border my-3 mb-1 outline-none rounded-full py-2.5 px-4"
                type="text" placeholder="Enter your username"  formControlName="username"
              [ngClass]="{'border-red-500': userForm.get('username')?.invalid && userForm.get('username')?.touched,
                'border-green-500': userForm.get('username')?.valid,
                  'border-gray-500/30': !userForm.get('username')?.touched}"/>
                @if (userForm.get('username')?.invalid && (userForm.get('username')?.dirty || userForm.get('username')?.touched)) {
                      @if (userForm.get('username')?.hasError('required')) {
                        <span class="text-red-500 text-md"> Username is required</span>
                      }
                      @if (userForm.get('username')?.hasError('minlength')) {
                        <span class="text-red-500 text-md"> Username must be at least 6 characters long.</span>
                      }
                      @if (userForm.get('username')?.hasError('forbiddenName')) {
                        <span class="text-red-500 text-md"> Username is not allowed.</span>
                      }
                }
                 

              <input id="password"
                class="w-full bg-transparent border mt-5 mb-1 outline-none rounded-full py-2.5 px-4"
                type="password" placeholder="Enter your password" formControlName="password"
                [ngClass]="{'border-red-500': userForm.get('password')?.invalid && userForm.get('password')?.touched,
                      'border-green-500': userForm.get('password')?.valid,
                      'border-gray-500/30': !userForm.get('password')?.touched}"/>
                @if (userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)) {
                      @if (userForm.get('password')?.hasError('required')) {
                        <span class="text-red-500 text-md"> Password is required</span>
                      }
                      @if (userForm.get('password')?.hasError('minlength')) {
                        <span class="text-red-500 text-md"> Password must be at least 6 characters long.</span>
                      }
                      @if (userForm.get('password')?.hasError('forbiddenName')) {
                        <span class="text-red-500 text-md"> Password is not allowed.</span>
                      }
                }
                 

            <div class="flex items-center justify-between mb-2 py-4">
                <div class="flex items-center gap-1">
                    <input id="checkbox" type="checkbox" formControlName="rememberMe">
                    <label for="checkbox" class="text-black">Remember me</label>
                </div>
                <a class="forget-password" href="#">Forgot Password</a>
            </div>

            <button type="submit"
                class="w-full mb-3 btn-submit py-2.5 rounded-full text-white">
                Connect
            </button>
        </form>

        <p class="text-center mt-4 text-black">
            Don’t have an account?
            <a routerLink="/signup" class="sign-up">Signup</a>
        </p>

        <!-- <button type="button"
            class="w-full flex items-center gap-2 justify-center mt-5 bg-black py-2.5 rounded-full text-white">
            <img class="h-4 w-4"
                src="https://raw.githubusercontent.com/prebuiltui/prebuiltui/main/assets/login/appleLogo.png">
            Log in with Apple
        </button>

        <button type="button"
            class="w-full flex items-center gap-2 justify-center my-3 bg-white border border-gray-500/30 py-2.5 rounded-full text-gray-800">
            <img class="h-4 w-4"
                src="https://raw.githubusercontent.com/prebuiltui/prebuiltui/main/assets/login/googleFavicon.png">
            Log in with Google
        </button> -->
    </div>
</div>