<div class="space-y-4">
<div class="flex flex-col gap-2 mb-4 sm:flex-row sm:items-center sm:justify-between">
        <div></div>
      <app-button size="sm" 
        [endIcon]="icons.plus" 
        class="inline-flex items-center gap-2 rounded-lg px-1 py-1 text-theme-sm font-medium" 
        type="button"
        (click)="openModalAddCrime()">
            Add Crime
        </app-button>
    </div>
    <app-basic-table
    [columns]="columns"
    [data]="tableData"
    [config]="tableConfig"
    />

    <div>
        <app-add-crime
        [isOpened]="isModalAddCrimeOpen"
        (close)="closeModalAddCrime()"
        [data] = "crimeData"
        [mode]="actionMode"
          >
        </app-add-crime>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->